<div class="flex-container">
    <div class="buttons">
        <a href="/new" class="new btn hljs">New</a>
        <button class="save btn hljs" type="submit" formaction="/save" <%=savestatus%> >Save</button>
    </div>
