<div class="btn-wrapper">
    <a href="/" class="logo">Share Code</a>
    <div class="buttons">
        <a href="/new" class="new btn">New</a>
        <button class="save btn" type="submit" <%=savestatus%> >Save</button>
        
    </div>
</div>